{% extends 'base.html.twig' %}

{% block title %}All Courses{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h4 class="fw-bold py-3 mb-4">All Courses</h4>
    </div>
</div>

<div class="row">
    {% for course in courses %}
        <div class="col-md-6 col-lg-4 mb-4">
            {% if course.createdAt and course.createdAt|date_modify('+7 days') > date() %}
                <div class="new-badge">New</div>
            {% endif %}
            {% include 'components/_course_card.html.twig' with {
                'course': course,
                'showCreatedAt': true
            } %}
        </div>
    {% else %}
        <div class="col-12">
            <div class="alert alert-info">
                No courses available at the moment.
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
