{% extends 'base.html.twig' %}

{% block title %}All Courses{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h4 class="fw-bold py-3 mb-4">All Courses</h4>
    </div>
</div>

<div class="row">
    {% for course in courses %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description|slice(0, 100) }}...</p>
                    <a href="{{ path('course_show', {'id': course.id}) }}" class="btn btn-primary">View Course</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-12">
            <div class="alert alert-info">
                No courses available at the moment.
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
